@import url(reset.css);

div {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	position: absolute;}

.one {
	background-color: red;
	bottom: 150px;
	z-index: 10;

}

.two {
	background-color: blue;
	bottom: 300px;
	z-index: 2;

}

.three {
	background-color: green;
	bottom: 450px;
	z-index: 3;
}